{% extends 'App_Servicios/template_padre.html' %}


{% block encabezado %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Buscar cliente</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}



{% block contenido %}

    <!-- Busqueda de clientes -->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        {% if cliente_buscado %}
                            <p></p>
                            <h2 class="h4 fw-bolder">Se buscaron los clientes con el nombre: {{ cliente_buscado }}</h2>
                            <ul>
                            {% for cliente in clientes_resultado %}
                                <li> {{cliente.name}}: {{cliente.cuit}} </li>
                            {% endfor %}
                            </ul>
                            {% if busqueda_negativa %}
                                <h2 class="h4 fw-bolder">Se buscaron los clientes con el nombre: {{ busqueda_negativa }}</h2>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>



{% endblock %}



